<a href="https://colab.research.google.com/github/dianjin0407/Fall-2023-Coding/blob/main/Exercise_01_Python_Syntax_and_Semantics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1
How can you improve the syntax used in the following code cells?

Think about conventions, and code readability.

In [33]:
x= 4+1

In [38]:
x = 4 + 1
print(x)
x = x + 1
print(x)
x += 1
print(x)

5
6
7

In [42]:
for i in range(10):
    if i % 3 == 0:#checks to see if i is a multiple of 3
        print(i, 'is a multiple of 3!')

0 is a multiple of 3!
3 is a multiple of 3!
6 is a multiple of 3!
9 is a multiple of 3!

In [43]:
(2*8)+(8/4)-9+(2*1)-1

10.0

# Exercise 2
Create a variable `savings` and give it value 200

In [18]:
# Your answer goes here
savings = 200

Create a variable `factor` and assign it value 1.1

In [19]:
# Your answer goes here
factor = 1.1

Calculate `balance`:

In [20]:
balance = savings * factor ** 5

Now print a statement that says something like "Your account balance after 5 years would be: $xxx" and use the value of `balance` to populate xxx:

In [46]:
# Your answer goes here
print('Your account balance after 5 years would be: $', balance)

Your account balance after 5 years would be: $ 322.1020000000001

Let's make two modifications to this:
* use `sep = ''` in print function to avoid the extra space between dollar sign and balance value.
* use `round()` function to round to two decimals

Note: Use `?round` in a new cell to get help from the help function.

In [48]:
# Your answer goes here
print('Your account balance after 5 years would be: $', balance, sep='')
print('Your account balance after 5 years would be: $', round(balance,2), sep='')

Your account balance after 5 years would be: $322.1020000000001
Your account balance after 5 years would be: $322.1

# Exercise 3
The value of pi is given below in a string/character format:

In [23]:
pi_char = "3.1415926535"
type(pi_char)

str

Google and find a function that would convert it to float so we can use it in math equations, call this new converted value `pi`

In [50]:
# Your answer goes here
pi=float(pi_char)
print(pi)

3.1415926535

Using this variable calculate the area of a circle with radius `r = 2` and print a rounded value for area (up to 3 decimals):

In [52]:
# Your answer goes here
r=2
area= (r**2)*pi
print(round(area,3))

12.566

# Exercise 4
What is the quotient and remainder of 67432/98?

In [53]:
# Your answer goes here
print(67432//98)
print(67432%98)

688
8

# Exercise 5
Write a statement to check whether `a` is a multiple of 5 and within the range of 100-150 or 0-50. Check your statement with the following values and it should give you the following values:

55 --> False

110 --> True

-25 --> False

150 --> False

100 --> True

In [61]:
# Your answer goes here
a=[55,110,-25,150,100]

for num in a:
    if (num%5==0) and ((100<=num<150) or (0<=num<=50)):
        print(True)
    else:
        print(False)

False
True
False
False
True