<a href="https://colab.research.google.com/github/dianjin0407/Fall-2023-Coding/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns.

**Source:**

Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athleteâ€™s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

Download athlete_events.csv from the link above and load it into a DataFrame called `athlete_events`:

In [1]:
# Your answer goes here
import pandas as pd

url = 'https://raw.githubusercontent.com/soltaniehha/Business-Analytics/master/data/athlete_events.csv'
athlete_events = pd.read_csv(url)

Use `info()` method on this DataFrame to get a sense of the data:

In [2]:
# Your answer goes here
athlete_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

## Question 1
Clearly not every athlete receives a medal in the olympics. How many records have a non-null value for `Medal` field? In other words, how many medals were given according to this dataset?

In [3]:
# Your answer goes here
39783

39783

Use the `head()` method to inspect the first few rows of the data:

In [4]:
# Your answer goes here
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Question 2 & 3

What is the earliest and latest Olympic that is captured in this dataset?

In [41]:
# Your answer goes here
athlete_events['Year'].min()

1896

In [42]:
# Your answer goes here
athlete_events['Year'].max()

2016

## Question 4 & 5

Is the following statement True or False?

> Average age of female athletes who attended the Olympic games after 1990 has risen compared to the era before then.

In [8]:
# Your answer goes here
athlete_female=athlete_events[athlete_events['Sex']== 'F']
athlete_female_after_1990=athlete_female[athlete_female['Year']>1990]
average_age1=athlete_female_after_1990['Age'].mean()
print(average_age1)

athlete_female_before_1990=athlete_female[athlete_female['Year']<1990]
average_age2=athlete_female_before_1990['Age'].mean()
print(average_age2)

24.62131696199413
22.0290214609175

In [9]:
# Your answer goes here
print(average_age1>average_age2)

True

## Question 6 & 7

How many Gold medals were given to men from 1970 to 2000 (including both years)?

In [43]:
# Your answer goes here
athlete_man=athlete_events[athlete_events['Sex']== 'M']
athlete_man_within=athlete_man[(athlete_man['Year'] >= 1970) & (athlete_man['Year'] <= 2000)]
athlete_man_within_gold=athlete_man_within[athlete_man_within['Medal']== 'Gold']
athlete_man_within_gold['Medal'].count()

3207

## Question 8 & 9

How many athletes attended the Olympic games in 1968?

Hint: You can use the method `.unique()` on any pandas Series to get the unique values. Any column subset of a DataFrame returns a Series object.

In [44]:
# Your answer goes here
athlete_1968=athlete_events[athlete_events['Year']==1968]
unique=athlete_1968['ID'].unique()
len(unique)

6717

## Question 10 & 11

Who won the event "Swimming Men's 100 metres Breaststroke" in 2004? Note that "metres" has a British spelling!

In [21]:
# Your answer goes here
athlete_2004=athlete_events[athlete_events['Year']==2004]
athlete_2004_swimming=athlete_2004[athlete_2004['Event']=="Swimming Men's 100 metres Breaststroke"]
won=athlete_2004_swimming[athlete_2004_swimming['Medal']=='Gold']
won['Name']

120309    Kosuke Kitajima
Name: Name, dtype: object

## Question 12 & 13
In the Year 2004, which National Olympic Committee (NOC) had the fourth-highest medal tally?

In [29]:
# Your answer goes here
athlete_2004=athlete_events[athlete_events['Year']==2004]
medal_count=athlete_2004.groupby('NOC')['Medal'].count()
medal_count_sort=medal_count.sort_values(ascending=False)
fourth_highest_medal = medal_count_sort.index[3]
fourth_highest_medal

'GER'

## Question 14 & 15
What was the average age of male athletes for the year with the third-highest male participation of all years? And what year was that?

(Assume that if an athlete competes in 2 or more events in a given year, that counts as 2 or more participations.)

In [40]:
# Your answer goes here
athlete_male = athlete_events[athlete_events['Sex'] == 'M']
male_participation = athlete_male.groupby('Year')['ID'].nunique()
male_participation_sort=male_participation.sort_values(ascending=False)
third_highest_participation_year = male_participation_sort.index[2]
print(third_highest_participation_year)

man_in_that_year=athlete_male[athlete_male['Year']==third_highest_participation_year]
average_age3=man_in_that_year['Age'].mean()
print(average_age3)

1972
25.31050869424344